<h1><%= @user.name %>のページ</h1>
<p>メールアドレス: <%= @user.email %></p>
<span class="link_btn"><%= link_to '投稿する', new_picture_path %></span><br>
<span class="link_btn"><%= link_to "一覧画面にもどる", pictures_path %></span>